<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<div class="control-group">
  <%= f.label :answer_text, "#{answer.question.validation_rules[:presence] == '1' ? '*' : ''}#{answer.question.question_text}", class: 'control-label' %>
  <div class="controls">
    <div class="input-append date datepicker" id="datepicker" data-date-format="dd/mm/yyyy">
      <%= f.text_field :answer_text,
                       placeholder: answer.question.question_text,
                       readonly: true,
                       required: answer.question.validation_rules[:presence] == '1' %>
      <span class="add-on">
      <i class="icon-th"></i>
    </span>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#datepicker').datepicker({
    autoclose: true,
    format: "dd/mm/yyyy",
    viewMode: "days",
    minViewMode: "days",
    clearBtn: true
  });
</script>
